{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

  {% block content %}
  <div class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h4 class="card-title">Patient List</h4>
                   </div>
                </div>
                <div class="card-body">
                   <div class="table-responsive">
                      <div class="row justify-content-between">
                         <div class="col-sm-6 col-md-6">
                            <div id="user_list_datatable_info" class="dataTables_filter">

                            </div>
                         </div>
                         <div class="col-sm-6 col-md-6">
                            <div class="user-list-files d-flex">
                            
                               <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                 Add Patient 
                               </button>
                           
                            </div>
                         </div>
                      </div>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Patient</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form  method="POST" class="probootstrap-form-appointment">
                                {% csrf_token %}
                                 {% for field in form %}
                                  <div class="form-group">
                                   
                                    {{field}}
          
                                  </div>
                                 {% endfor %}
                               
                            </div>
                            <div class="modal-footer">
                              <input
                              type="submit"
                              value="Submit Form"
                              class="btn btn-secondary"
                            />
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                           </form>
                          </div>
                        </div>
                      </div>
                      
                      <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                         aria-describedby="user-list-page-info">
                         {% if count > 0 %}
                         <thead>
                            <tr class="ligth" >
                               <th>Name</th>
                               <th>Email</th>
                               <th>Message</th>
                               <th>Date of Appointment</th>
                               <th>Cancel Appointment</th>
                               <th></th>
                            </tr>
                         </thead>
                        

                         <tbody>
                          {% for patient in patients %}
                            <tr>
                            
                               <td>{{patient.name}}</td>
                               <td>{{patient.email}}</td>
                               <td>{{patient.message| truncatechars:20}}</td>
                               <td>{{patient.date}}</td>
                               <td> <a href="/delete_patient/{{patient.id}}"><span>Cancel Appointment</span>&nbsp;<span style="cursor: pointer" class="icon-trash"></span></a>


                               <td><span class="badge {% if patient.date <= date %}bg-success{% endif %}  {% if patient.date > date %}bg-danger{% endif %}">{% if patient.date <= date %} Yes {% endif %}  {% if patient.date > date %} No {% endif %}</span></td>
                            </tr>
                         
                            {% endfor %}
                         </tbody>

                        {% else %}
                        <br></br>
                            <h2>There is no patient currently added &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                            </svg></h2>
                        <br></br>  
                        {% endif %}
                      </table>
                     
                   </div>
                   {% if count > 0 %}

                   <div class="row justify-content-between mt-3">
                      <div id="user-list-page-info" class="col-md-6">
                         <span>Showing {{start|add:1}} to {% if list_count >= count %}{{count}}{% endif %} {%if count >  list_count %} {{list_count}} {% endif %} of {{count}} entries</span>
                      </div>
                      <div class="col-md-6">
                         <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mb-0">

                               <li class="page-item {% if pk == 0 %}disabled{% endif %}">
                                  <a class="page-link" href="/patient/{{pk |sub:1}}" tabindex="-1" aria-disabled="true">Previous</a>
                               </li>
                               {% for i in  tabs %}
                                <li class="page-item  {% if i == tab %}active{% endif %}"><a class="page-link" href="/patient/{{i |sub:1}}">{{i}}</a></li>
                              {% endfor %}


                               <li class="page-item {% if tab == tab_count %}disabled{% endif %}">
                                  <a class="page-link"  href="/patient/{{pk |add:1}}">Next</a>
                               </li>

                            </ul>
                         </nav>
                      </div>
                   </div>
                   {% endif %}

                </div>
             </div>
          </div>
       </div>
    </div>
          </div>
        </div>

     
        
       
  
      </div>
    </div>
  </div>
</section>

{% endblock %}


  
